*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* background-color: black; */
    color: rgb(10, 8, 8);
    background-color:#2487e5;
    font-size: 25px;
    border-bottom: 2px solid black;
}

.profile{
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-image: url("download-laptop-wallpaper-h4n6pox16lk6fxve.jpg"); */
    /* background-size: cover; */
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background:url("./images/helloworld.gif"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    height: 90vh;
    width: 100%;
    position: relative;
    opacity: 90%;
    background-color: rgb(221, 234, 238);
}
#name{
    color: rgb(12, 8, 8);
    text-align: center;
    padding-top: 5%;
}
#image1{
    padding-top: 5%;
    /* height: 100px; */
    /* width:50px; */
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
    column-gap: 60px;
    background-color: #e5e5e5;
}
#aboutme{
    color:black;
}
#logo{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.skills{
    background: #e5e5e5;
    color: #0a0a0a;
    font-weight: 600;
    text-align: center;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    row-gap: 40px;
    column-gap: 30px;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-evenly;
}
.skills div{
    text-align: center;
    font-size: 20px;
    padding: 10%;
    border: 2px solid rgb(0, 0, 0);
}

.pjt{
    background-color:rgb(247, 238, 238);
    color: #e5e5e5;
    padding-top: 4%;
}

.mywork{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
    column-gap: 50px;
}
#projects{
    color: black;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
#projects div{
    background-color:#fca311;
    height: 100px;
    width: 200px;
    padding: 10%;
    text-align: center;
}
